:root{
    --primary: #4785EF;
    --ligth  : #f5f5f8;
    --green  : #60CC64;
    --gray   : #677791;
    --darkblue: #414A9B;
    --pink    : #FF7B8C;
}

body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--darkblue);
    font-weight: 700;
  }
  
  .text-muted {
    color: var(--darkblue) !important;
  }

  .bg-primary{ background-color: var(--primary) !important;}

  .bg-white{ background-color: #fff !important; }

  .bg-light {background-color: var(--light) !important;}
  
  .bg-light-blue {
    background-color: var(--darkblue) !important;
  }
  
  #sidebar-container {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  .list-group-item:hover{
      background-color: var(--primary);
  }

  .list-group-item:active{
    background-color: var(--primary);
}
  
  #sidebar-container .logo{
    padding: 0.875rem 1.25rem;
  }
  
  #sidebar-container .menu {
    width: 18rem;
  }
  
  #content-wrapper.toggled #sidebar-container {
    margin-left: 0;
  }
  
  .circle {
    width: 50px;
    height: 50px;
  }
    
  .avatar {
    max-width: 35px;
  }
  
  .btn-primary {
    background-color: rgba(0, 123, 255, .1) !important;
    border: 0;
  }
  
  .btn-primary:hover {
    background-color: rgba(0, 123, 255, .2) !important;
  }
  
  #content {
    overflow-y: auto;
    height: 100vh;
  }  

  #btn-add{
    margin-top: 20px;
    margin-left: 2rem;
    background: linear-gradient(5deg, var(--darkblue), var(--primary));
    color: #fff;
    width: 200px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
  }

  #btn-add:hover {
    background: linear-gradient(45deg, var(--darkblue), var(--green));
  }    
  
  @media (min-width: 768px) {
    #sidebar-container {
      margin-left: 0;
    }
    #content-wrapper.toggled #sidebar-container {
      margin-left: -18rem;
    }
  }